// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$badge-font-size: .9rem;
$badge-font-weight: $font-weight-normal;

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// sass --watch ./styles/main.scss ./styles/main.css
.badge {
  margin-top: 1px;
  margin-bottom: 1px;
}

// Custom styling for .card-img-top to scale image in cards
.card-img-top {
  //width: 100%; /* Adjust width to fit card */
  //height: auto; /* Maintain aspect ratio */

  /* Optional: Uncomment to adjust image scaling behavior */
   //height: 200px; /* Set a fixed height if needed */
   //object-fit: cover; /* Scales image to fill card area while maintaining aspect ratio */
   //transition: transform 0.3s ease; /* For hover effect */

  /* Optional: Add hover effect */
  //&:hover {
  //  transform: scale(1.1); /* Slightly scale image on hover */
  //}
}
